@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #112434;
}
body{
    min-height: 100vh;
    // background: #f8f8ff;
}
#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(20px);
    > a{
        font-family: 'Shadows Into Light', sans-serif;
        font-size: 2.5em;
        font-weight: bold;
        margin-left: 150px;
    }
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 100px;
        gap: 40px;
        li{
            padding: 6px 15px;
            &:nth-child(1){
                border-radius: 25% 75% 40% 60% / 51% 64% 36% 49%;
            }
            &:nth-child(2){
                border-radius: 48% 52% 45% 55% / 64% 67% 33% 36%;
            }
            &:nth-child(3){
                border-radius: 62% 38% 72% 28% / 26% 74% 26% 74%;
            }
            &:nth-child(4){
                border-radius: 40% 60% 26% 74% / 56% 46% 54% 44%;
            }
            a{
                font-size: 1.25em;
            }
        }
        li.active{
            background: #112434;
            a{
                font-size: 1.25em;
                color: #fff;
            }
        }
    }
}
#home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .content{
        max-width: 550px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        h2{
            font-size: 4em;
            font-family: 'Shadows Into Light', sans-serif;
        }
        a{
            width: 220px;
            height: 80px;
            background-color: #f00;
            text-align: center;
            line-height: 80px;
            font-weight: bold;
            font-size: 2em;
            border-radius: 20px;
            border: 2px solid #333;
        }
    }
    img:nth-child(2){
        position: relative;
        left: 100px;
        animation: animateLeft 5s ease-in-out infinite;
    }
    @keyframes animateLeft{
        0%,100%{
            transform: translateY(0px);
        }
        50%{
            transform: translateY(60px);
        }
    }
    img:nth-child(3){
        position: relative;
        animation: animateCenter 5.5s ease-in-out infinite;
    }
    @keyframes animateCenter{
        0%,100%{
            transform: translateY(0px);
        }
        50%{
            transform: translateY(60px);
        }
    }
    img:nth-child(4){
        position: relative;
        right: 80px;
        animation: animateRight 6s ease-in-out infinite;
    }
    @keyframes animateRight{
        0%,100%{
            transform: translateY(0px);
        }
        50%{
            transform: translateY(60px);
        }
    }
}
#about{
    min-height: 100vh;
}
#portfolio{
    min-height: 100vh;
}
#contact{
    min-height: 100vh;
}